body {
  margin: 0;
}

header {
  background-color: #EEEEEE;
  img {
    width: 100%;
  }
}

.answers {
  background-color: #EEEEEE;
  color: #4B484F;
  text-align: center;
}

footer {
  color: #EEEEEE;
  background-color: #4B484F;
  height: 131px;
  text-align: center;
}
